#svContainer {
    position: absolute;
    width: 99%;
    height: auto;
}

#svEditor {
    position: relative;
    float: left;
}

#svViewer {
    position: relative;
    float: left;
    width: auto;
    margin-left: 2px;
}

.svBlock {
    position: relative;
    background-color: azure;
    margin: 5px;
}

.svChord {
    background-color: greenyellow;
    position: relative;
    top: -15px;

}

.svText {
    background-color: mistyrose;
}

